
$background:rgba(255, 115, 0, 0.774);
$padding:30px;
.header{
  background-color: $background;
  padding: $padding;
  display: flex;
  justify-content:flex-end;
  gap: 40px;
  a{
    position: relative;
  //  left: 80%;
   font-size: larger;
   text-decoration: none;
   color: white;
  }
}
