<form [formGroup]="userReg" class="signupform">
  <label for="exampleFormControlInput1" class="form-label">firstName</label>
  <input
    formControlName="firstName"
    type="text"
    class="form-control"
    id="exampleFormControlInput1"
    placeholder="your Fname"
  />
  <div [hidden]="fisrtName?.valid||fisrtName?.untouched">
   <span *ngIf="fisrtName?.errors?.['required']">First Name is required </span>
   <span *ngIf="fisrtName?.errors?.['pattern']">first Name doesn't match</span>
  </div>

  <label for="inputPassword5" class="form-label">LastName</label>
  <input
    formControlName="LastName"
    type="text"
    class="form-control"
    id="exampleFormControlInput1"
    placeholder="your Lname"
  /><br />

  <label for="inputPassword5" class="form-label">Email</label>
  <input
    formControlName="Email"
    type="email"
    class="form-control"
    id="exampleFormControlInput1"
    placeholder="name@example.com"
  /><br />

  <label for="inputPassword5" class="form-label">Password</label>
  <input
    formControlName="Password"
    type="password"
    id="inputPassword5"
    class="form-control"
    aria-describedby="passwordHelpBlock"
  /><br />

  <label for="inputPassword5" class="form-label">Confirmed Password</label>
  <input
    formControlName="ConfirmedPassword"
    type="password"
    id="inputPassword5"
    class="form-control"
    aria-describedby="passwordHelpBlock"
  /><br />
  <button type="button" class="btn btn-primary">sign up</button>
</form>
