<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">firstName</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="your Fname">
</div>
<label for="inputPassword5" class="form-label">LastName</label>
<input type="text" class="form-control" id="exampleFormControlInput1" placeholder="your Lname"><br/>

<label for="inputPassword5" class="form-label">Email</label>
<input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com"><br/>

<label for="inputPassword5" class="form-label">Password</label>
<input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock"><br/>

<label for="inputPassword5" class="form-label">Confirmed Password</label>
<input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock"><br/>
<button type="button" class="btn btn-primary">sign up</button>

